{% extends 'personal_portfolio/base.html' %}

{% block content %}
<section class="hero">
    <h1>Bienvenido a mi Portfolio</h1>
    <p>Soy Emanuel Lucietti, desarrollador web especializado en Python/Django</p>
</section>

<section class="about">
    <h2>Sobre mí</h2>
    <p>Actualmente, me encuentro finalizando la Tecnicatura Superior en Automatización y Robótica (CENT 35), donde adquirí sólidos conocimientos en programación de bajo nivel, sistemas de control, electrónica y herramientas como SolidWorks y Dobot Robotics.</p>
    
    <p>También completé la Tecnicatura en Desarrollo Web Full Stack (CEPIT) en 2023 y, en la actualidad, me estoy especializando en Python, Django y el desarrollo de soluciones web a través del Programa de Aceleración Tech de Talentos Fueguinos (Alkemy).</p>
    
    <p>Mi objetivo es dar el salto al mundo tecnológico, combinando mi experiencia en logística con mis habilidades en desarrollo de software y automatización para crear soluciones eficientes, optimizar procesos industriales y mejorar la productividad.</p>
    
    <p>Busco una oportunidad que me permita integrar mis conocimientos técnicos con mi experiencia práctica, contribuyendo al desarrollo y crecimiento de proyectos en el ecosistema tecnológico.</p>
    
    <p>¡Siempre en constante aprendizaje y listo para nuevos desafíos!</p>
</section>
{% endblock %}